@using Orchard.ContentManagement.MetaData.Models

@model Nwazet.Commerce.ViewModels.HierarchyAdminIndexViewModel

@{ 
    Layout.Title(T("Manage Territory Hierarchies"));
}

@using (Html.BeginFormAntiForgeryPost()) {
    @Html.ValidationSummary();

    if (Model.AllowedHierarchyTypes.Any()) {
        <div class="manage">
            @Html.ActionLink(T("Add a Hierarchy").Text,
                "CreateHierarchy",
                new {
                    Area = "Nwazet.Commerce",
                    ReturnUrl = Request.RawUrl,
                    id = Model.AllowedHierarchyTypes.Count() == 1 ? Model.AllowedHierarchyTypes.FirstOrDefault().Name : ""},
                new { @class = "button primaryAction" })
        </div>
    }
    
    <fieldset class="contentItems bulk-items">
        @Display(Model.Hierarchies)
    </fieldset>
    @Display(Model.Pager)
}
