@model Nwazet.Commerce.ViewModels.HierarchyAdminIndexViewModel

@{ 
    Layout.Title(T("Manage Territory Hierarchies"));
}

@using (Html.BeginFormAntiForgeryPost()) {
    @Html.ValidationSummary();

    <div class="manage">@Html.ActionLink(T("Add a Hierarchy").Text, "Create", new { Area = "Nwazet.Commerce", ReturnUrl = Request.RawUrl }, new { @class = "button primaryAction" })</div>

    <fieldset>
        <table class="items" summary="@T("This is a table of the Hierarchies you are allowed to manage.")">

        </table>
    </fieldset>
}
