<table class="vat-due">
    <thead>
        <tr>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>@T("Total VAT due")</td>
            <td class="price">@Model.TaxDue</td>
        </tr>
        <tr>
            <td>@T("Taxable amount")</td>
            <td class="price">@Model.TaxableAmount</td>
        </tr>
    </tbody>
</table>