@using System.Globalization;
<table class="vat-due">
    <thead>
        <tr>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>@T("Total VAT due")</td>
            <td class="price">
                @Model.Currency.PriceAsString(
                    Model.TaxValue + Model.ShippingTaxValue,
                    (CultureInfo)Model.CultureInUse)
            </td>
        </tr>
        <tr>
            <td>@T("Taxable amount")</td>
            <td class="price">
                @Model.Currency.PriceAsString(
                    Model.TaxableValue + Model.ShippingTaxableValue,
                    (CultureInfo)Model.CultureInUse)
            </td>
        </tr>
    </tbody>
</table>