@{ Layout.Title = T("Create New Product").ToString(); }

<p><span class="text-md text-bold text-primary">@T("Select product type:")</span></p>
@foreach (var type in Model.ProductTypes) {
    <p>
        @Html.ActionLink((string)type.DisplayName,
          "CreateProduct",
          new {
              Area = "Nwazet.Commerce",
              id = Html.Encode((string)type.Name),
              ReturnUrl = Request.QueryString["ReturnUrl"] })
    </p>
}