@model Nwazet.Commerce.ViewModels.TerritoryHierarchyTerritoryManagerViewModel

<div>
    @T("This hierarchy currently contains {0} territories, of which {1} as first level.", Model.TerritoriesCount, Model.TopLevelCount)
</div>
