.severity-message {
    /*padding: 0.2rem;*/
    white-space: nowrap;
}

.severity-error {
    color: #dd4b39;
    margin-right: 0.2rem;
}

.severity-warning {
    color: #f39c12;
    margin-right: 0.2rem;
}

.severity-information {
    padding: 0;
}

.new-severity-information {
    padding: 0;
    margin-right: 0.2rem;
}

.severity-success {
    color: #00a65a;
    margin-right: 0.2rem;
}

.title-status-legend {
    font-weight: bold;
    margin-right: 1rem;
}

.legend-status {
    margin-right: 1rem;
}
