.cell-vat-check {
    width: 5%;
    display: block;
    float: left;
}

.cell-category-vat {
    width: 40%;
    display: block;
    float: left;
}

.cell-ratestring-vat {
    width: 30%;
    display: block;
    float: left;
}

.row-configuration-vat{
    display:table;
    width:100%;
}